@import "tailwindcss";

:root {
  --primary: #a449eb;
  --secondary: #078e9b;
  --aside-grad: linear-gradient(
    180deg,
    #039099 0%,
    rgba(197, 31, 255, 0.88) 111.68%
  );
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@layer utilities {
  .bg-aside-grad {
    background: var(--aside-grad);
  }
}

.scroll-0::-webkit-scrollbar {
  width: 0;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  background: #d6e3f4cc;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--primary);
}
